@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Script&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

a {
   text-decoration: none;
}

:root {
   --poppins: "Poppins", sans-serif;
   --lato: "Lato", sans-serif;
   --league: "League Script", cursive;
   --oldStand: "Old Standard TT", serif;

   --light: #f9f9f9;
   --blue: #0892a5;
   --light-blue: #b3d9e0;
   --grey: #eee;
   --dark-grey: #aaaaaa;
   --dark: #342e37;
   --red: #db504a;
   --light-red: #df9b99;
   --yellow: #ffce26;
   --light-yellow: #fff2c6;
   --orange: #f4a258;
   --light-orange: #ffe0d3;
   --hoverTextColor: #055254;
   --hoverTextColorLight: #5fa09d;
}

#header {
   display: flex;
   position: absolute;
   width: 100%;
   font-family: var(--poppins);
   justify-content: space-between;
   padding: 10px 0 0;
   z-index: 1000;

   .nav-logo {
      backdrop-filter: blur(30px);
      box-shadow: 0px 0px 30px rgba(132, 132, 134, 0.5);
      border: 1.5px solid rgba(225, 225, 225, 0.18);
      background: rgba(225, 225, 225, 0.2);
      border-radius: 0 50px 50px 0;
      transition: 0.3s ease-in-out;
   }

   .nav-logo:hover {
      box-shadow: 0px 6px 16px rgba(154, 154, 156, 0.5);
   }

   .nav-logo .logo {
      display: flex;
      align-items: center;
      font-size: 1rem;
      color: var(--blue);
      padding: 0 25px;
   }
   .nav-logo .logo h2 {
      transition: 0.15s ease-in-out;
   }
   .nav-logo .logo h2:hover {
      transform: scale(1.05);
      text-shadow: 0 0 30px var(--hoverTextColorLight);
   }

   /* NAV-LINK HEADER */
   .nav-link {
      display: flex;
      align-items: center;
      gap: 16px;
      backdrop-filter: blur(30px);
      box-shadow: 0px 0px 30px rgba(132, 132, 134, 0.5);
      border: 1.5px solid rgba(225, 225, 225, 0.18);
      background: rgba(225, 225, 225, 0.2);
      border-radius: 50px 0 0 50px;
      padding: 0 25px;
      transition: 0.3s ease-in-out;
   }

   .nav-link:hover {
      box-shadow: 0px 6px 16px rgba(154, 154, 156, 0.5);
   }

   .nav-link :where(a, .dropdown) {
      color: var(--blue);
   }

   .nav-link .nav-list {
      position: relative;
   }
   .nav-link .nav-list:hover {
      color: var(--hoverTextColor);
   }

   .nav-link .nav-list.active::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 3px;
      background: #0e2410;
      border-radius: 5px;
      font-weight: 500;
   }

   .nav-link .nav-list::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 3px;
      background: #0e2410;
      border-radius: 5px;
      font-weight: 500;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.15s ease-in-out;
   }
   .nav-link .nav-list:hover::after {
      transform: scaleX(1);
      transform-origin: left;
   }

   .nav-link .dropdown {
      position: relative;
   }

   .dropdown .trigger {
      position: relative;
      border-radius: 22px;
   }

   .dropdown .trigger span {
      font-weight: 500;
      letter-spacing: 0px;
      font-size: 16px;
      position: relative;
      color: #055254;
      display: block;
      min-width: 0px;
      width: 6rem;
      height: 44px;
      padding: 0 18px;
      z-index: 1;
      cursor: pointer;
      border-radius: 22px;
      transition:
         350ms border-radius 700ms,
         700ms color 700ms,
         350ms min-width 700ms,
         350ms background-color 700ms;
      display: flex;
      align-items: center;
   }

   .dropdown .trigger ul.menu {
      position: absolute;
      list-style: none;
      margin: 0;
      padding: 0;
      background: #fff;
      border-radius: 0 0 22px 22px;
      font-size: 14px;
      overflow: hidden;
      transform: scaleY(0);
      transform-origin: top;
      transition: 350ms transform 350ms;
   }
   .dropdown .trigger ul.menu a {
      opacity: 0;
      transition: 350ms opacity 0ms;
   }
   .dropdown .trigger ul.menu li {
      box-sizing: border-box;
      top: 0;
      left: 0;
      width: 256px;
      height: 44px;
      padding: 0 20px;
      z-index: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: flex-start;
      border-left: 0px solid #eee;
      transition: 200ms border-left 0ms;
   }
   .dropdown .trigger ul.menu li:before {
      content: "";
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, #eee, #fcfcfc);
      position: absolute;
      top: 0;
      left: 0;
   }
   .dropdown .trigger ul.menu li:last-of-type {
      border-radius: 0 0 22px 22px;
   }
   .dropdown .trigger ul.menu li a {
      text-decoration: none;
      color: #0e2410;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: flex-start;
   }

   .dropdown .trigger ul.menu li:hover {
      border-left: 12.5px solid #eee;
   }
   .dropdown .trigger:hover span {
      min-width: 256px;
      background: #fff;
      border-radius: 22px 22px 0 0;
      transition:
         350ms border-radius 0ms,
         700ms color 700ms,
         350ms min-width 0ms,
         350ms background-color 350ms;
      color: #ccc;
   }

   .dropdown .trigger .arrow {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      top: 0.8rem;
      right: 8px;
      transition: transform 0.3s ease-in-out;
   }
   .dropdown .trigger:hover .arrow {
      transform: rotate(180deg);
   }
   .dropdown .trigger:hover ul.menu {
      transform: scaleY(1);
      transition: 350ms transform 350ms;
   }
   .dropdown .trigger:hover ul.menu a {
      opacity: 1;
      transition: 350ms opacity 700ms;
   }
}

#home {
   height: 100vh;
   background-color: lightcyan;
   position: relative;
}

.folder-container {
   background-color: lightpink;
   width: 50%;
   padding: 10px 30px;
   text-align: center;
   border-radius: 20px 20px 0px 0px;
   height: 50vh;
   position: absolute;
   right: 1rem;
   bottom: 0;
}

.folder-container:hover {
   height: 80vh;
}

#about {
   height: 100vh;

   h1 {
      text-align: center;
   }
}

#menu {
   height: 100vh;
   text-align: center;
}
